<div class="container-fluid">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#00ff90">
            <h3> temat temat temat</h3>
            <img src="~/images/best-action-anime-u3.png" />
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#b200ff">
            <h3> temat temat temat</h3>
            <img src="~/images/luffy.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#ffd800">
            <h3> temat temat temat</h3>
            <img src="~/images/luffy.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#00ff37">
            <h3> temat temat temat</h3>
            <img src="~/images/DragonBall.gif" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#b20021">
            <h3> temat temat temat</h3>
            <img src="~/images/maxresdefault.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#ffd890">
            <h3> temat temat temat</h3>
            <img src="~/images/luffy.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#00ff90">
            <h3> temat temat temat</h3>
            <img src="~/images/maxresdefault.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#b200ff">
            <h3> temat temat temat</h3>
            <img src="~/images/sadll.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#ffd800">
            <h3> temat temat temat</h3>
            <img src="~/images/best-action-anime-u3.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#00ff37">
            <h3> temat temat temat</h3>
            <img src="~/images/Naurato.png"/>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#b20021">
            <h3> temat temat temat</h3>
            <img src="~/images/2.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="cont" style="background:#ffd890">
            <h3> temat temat temat</h3>
            <img src="~/images/goku.png" />
        </div>
    </div>

</div>
